/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Shrikhand&display=swap');

html {
  padding: 0;
  margin: 0;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
}

hr {
  border-top: 1px solid #29d0be;
  border-bottom: none;
  margin: 60px auto;
}

img {
  margin: 50px auto;
  width: 100%;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

/* navigation =========================================================== */

#navbar {
  position: fixed;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow-y: auto;
  color: #fff;
}

#navbar h1 {
  font-size: 4rem;
}


#navbar a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
  margin: 30px auto;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

#navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

#navbar a:hover::after {
  height: .2em;
}

/* main content area =================================================== */

#main-doc {
  margin-left: 30%;
  width: 70%;
}

.main-section {
  padding: 1.5em;
}

.main-section header {
  font-size: 2rem;
  font-family: "Shrikhand";
  letter-spacing: 5px;
}


/* media queries for responsiveness ==================================== */

@media (max-width: 900px) {
  body {
    flex-direction: column;
  }
  
  #navbar {
    position: relative;
    width: 100%;
  }

  #navbar h1 {
    text-align: center;
  }

  .nav-link {
    font-size: 1 rem;
  }
  
  #main-doc {
    width: 100%;
    margin-left: 0;
  }
}
