/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html {
  padding: 0;
  margin: 0;
  font-family: "DM Mono", monospace;
  font-weight: 300;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
}

hr {
  border-top: 1px solid #000;
  border-bottom: none;
  margin: 20px auto;
}

/* navigation =========================================================== */

#navbar {
  position: fixed;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F6BA1B;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow-y: auto;
}

/* main content area =================================================== */

#main-doc {
  margin-left: 30%;
  width: 70%;
}

.main-section {
  padding: 1.5em;
}

.main-section header {
  font-size: 2rem;
  font-weight: 700;
}


/* media queries for responsiveness ==================================== */

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  
  #navbar {
    position: relative;
    width: 100%;
  }

  .nav-link {
    font-size: 1 rem;
  }
  
  #main-doc {
    width: 100%;
    margin-left: 0;
  }
}
